*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    background-color: rgb(255, 239, 218);
}
/* navbar .................*/
.navbar{
    background-color: rgb(146, 119, 82);
    height: 100px;
    border-bottom: 1px solid brown;
    box-shadow: inset 0px -1px 0px brown;
}
.navbar-nav .logo{
    text-decoration: none;
    color: brown;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin-left: 80px;
}

.navbar-nav .nav-item{
    white-space: nowrap;
    margin: auto 65px;
}
.navbar-nav .nav-item .nav-link{
    text-transform: uppercase;
}

.navbar-nav .nav-item .nav-link:hover{
    
    border-bottom: 2px solid black;
    border-color: brown;
    transition-property: all 1s;
}
.bi-cart4{
   
    width: 30px;
    height: 25px;
    margin: 25px 25px 0 130px;
}
.bi-cart4 path:hover{
    color: brown;
}
.cart{
    color: black;
}

/* carousel .....................*/
.d-block{
    height: 700px;
    width: 1600px;
}
.carousel-item img{
    top: 0;
width: 100%;
}
.carousel-control-prev:hover,.carousel-control-next:hover{
color: black;
opacity: 20%;
}

/* top deals of the day................... */
.top-deals{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 80px;
    margin: 100px auto;
    border-bottom: 5px solid brown;
    width: 50%;
    transition:border 0.1s linear;
}
.deal-img{
    width: 100%;
    height: auto;
}
.heart{
    height: 20px;
    width: 20px;
}
.flavour{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 25%;
}
  .top-deals:hover {
       border-width: 10px; 
}

/* footer ........................ */
.footer{
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to right bottom, rgb(112, 72, 72), rgba(177, 102, 79, 0.5)), url(../images/footer.jpg);
    background-size: cover;
    color: white;
}
.contain h3,.address h3,.timing h3{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
    border-bottom: 2px solid white;
    border-radius: 10px;
}
/* address ..........................*/
.address p {
    text-align: center;
}
  /* home delivery  .................. */
  .contain {
    width: 500px;
    clear: both;
  }
  .contain label{
      text-transform: uppercase;
  }
label{
    margin: 10px 0px 0px 0px;
}
input{
    border: 0;
    background: none;
    border-bottom: 1px solid white;
}
/* input:visited{
    border: 0;
} */
input[type="text"], input[type="email"],input[type="tel"], textarea, select { 
    outline: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
    opacity: 50%;
    font-weight: 200;
}
  .contain input{
    width: 100%;
    clear: both;
    padding-left: 10px;
  }
  .wrapper{
text-align: center;
  }
   #btn{
      background: none;
      border: 1px solid white;
      border-radius: 5px;
      padding: 10px 40px;
      margin: 30px auto;
      color: white;
  }
  #btn:hover{
      background: white;
      color: brown;
  }
  .copy{
    text-align: center;
}
  /* open - close timing .......................*/
.duration{
      margin: 15px auto;
      text-align: center;
  }
  .timing ul{
    list-style-type: none;
  }

